.page {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #28a694;
}
.card {
  margin: 20px auto;
  width: 30%;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f1f1f1;
  border-radius: 20px;
}
.LogoApp {
  text-align: center;
  color: whitesmoke;
}
